<div class="my-4">
  <h1>About</h1>
  <hr>
  <br>
  <div class="my-1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus obcaecati, libero non dignissimos voluptas quam! Reiciendis dignissimos, laudantium quisquam amet facilis eum! Ullam voluptates ipsa quae, temporibus molestiae reiciendis voluptate eum enim consequuntur eaque maiores officiis tempora, non id culpa, quod exercitationem quidem sed nemo at voluptatem veritatis repudiandae blanditiis. Laborum iure ipsa, blanditiis libero nisi dolores animi earum eos?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt labore, magni maxime, doloremque, eligendi deleniti eveniet omnis maiores facilis sequi esse praesentium aut debitis impedit quo earum commodi tenetur at.</p>
  </div>
</div>
